* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather Sans", sans-serif;
}

#wrapper {
  height: 90vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

#card-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: seagreen;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0.8rem;
  border: 0.1rem solid;
}

.card:hover {
  box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.5);
}

h1,
h2,
button {
  text-align: center;
  margin: 0.1rem;
}

#welcome {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: url("https://miro.medium.com/max/3544/1*Qd6XyPlotFCPj5bjASzC0Q.jpeg")
    center center/cover;
  color: white;
  text-align: center;
  z-index: 2;
  width: 95%;
  height: 100%;
}

#start {
  width: 20%;
  height: 5%;
  align-self: center;
}

#restart {
  position: fixed;
  width: 80%;
  height: 100%;
  background: rgba(45, 39, 68, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  visibility: hidden;
}

#restartbutton {
  width: 6rem;
  height: 2rem;
  padding: 0.2rem;
  align-self: center;
  margin: 2rem 0;
}

#spongecards {
  width: 30rem;
  height: 20rem;
  align-self: center;
  margin: 2rem;
}
